@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaeaea;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 70px 7.6%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.brand {
    font-size: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
.brand:hover {
    color: rgba(0, 0, 0, 0.937);
    font-weight: 700;
}
.navbar a {
    font-size: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
}

.navbar a:hover, .navbar a.active {
    color: rgba(0, 0, 0, 0.937);
    font-weight: 700;
}
.container {
    margin: 70px auto;
    max-width: 1100px;
    padding: 12px 18px;
}
.title1 {
    width: 100%;
    padding-bottom: 50px;
}
.title2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content {
    font-size: 17px;
    margin-top: 30px;
}
.content img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}
.rating b {
    color: black;
    font-size: 15px;
    font-weight: 10;
}
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 50%;
    border: #222 2px solid;
    transform: rotate(45deg);
    animation: rotate 2s linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 15px;
    height: 30px;
    background: #FF3D00;
    transform: skew(5deg , 60deg) translate(-50%, -5%);
  }

  .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFF;
    transform:translate(-50% , -50%);
  }

  @keyframes rotate {
    0% { transform: rotate(45deg)}
    30% , 50% , 70%  { transform: rotate(230deg)}
    40% , 60% , 80% { transform: rotate(240deg)}
    100% {  transform: rotate(245deg)}
 }
.checked {
    color: orange;
}
.rating {
    margin-top: 10px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-left: 10px;
}
.map {
    padding-left: 20px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.pano {
    padding-left: 20px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.footer {
    color: rgb(0, 0, 0);
    padding-left: 110px;
    padding-right: 110px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-links,
.category {
    list-style: none;
    padding: 0;
}

.footer-links li, .category p {
    margin: 5px 0;
}
.social-media {
    display: flex;
    justify-content: space-between;
    width: 100px;
}
.social-media a {
    color: #222;
}