@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaeaea;
}
.header {
    top: 0;
    left: 0;
    width: 101%;
    height: 80px;
    padding: 70px 7.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
.navbar a {
    font-size: 20px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
}

.navbar a:hover, .navbar a.active {
    color: rgba(37, 95, 156, 0.937);
    font-weight: 700;
}
.container {
    margin: 70px auto;
    max-width: 1100px;
    padding: 12px 18px;
}
.opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.title1 {
    width: 100%;
}
.opening .title1 h1 {
    width: 70%;
    font-size: 70px;
    font-weight: 600;
    color: #222;
}
.carousel-inner {
    transition: 0.5s;
    border-radius: 10px;
}